<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.domothink.munsch.domo_think" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".ConnectActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:label="Main">
        </activity>
        <activity android:name=".ConnectedObjectsActivity"
            android:label="Objets connectés">
        </activity>
        <activity android:name=".SearchObjectsActivity"
            android:label="Recherche">
        </activity>
        <activity android:name=".DirectivesActivity"
            android:label="Directives">
        </activity>
        <activity android:name=".MyDomoBoxActivity"
            android:label="DomoBox">
        </activity>
        <activity android:name=".StoreActivity"
            android:label="Store">
        </activity>
        <activity android:name=".UpdateActivity"
            android:label="Mises à jour">
        </activity>
        <activity android:name=".SettingsActivity"
            android:label="Paramètres">
        </activity>
    </application>

</manifest>
